# ==================================
# Виртуальное окружение
# ==================================
# Игнорировать папки виртуального окружения Python
/venv
/env
.venv

# ==================================
# Файлы операционных систем
# ==================================
# Файлы macOS
.DS_Store
# Файлы Windows
Thumbs.db

# ==================================
# Настройки IDE (PyCharm, VS Code и т.д.)
# ==================================
# PyCharm
.idea/
# VS Code
.vscode/

# ==================================
# Файлы Python
# ==================================
# Файлы кэша
__pycache__/
*.pyc

# Локальные базы данных
*.sqlite3

# Временные файлы и логи
*.log
*.tmp
logs/

# ==================================
# Секретные и локальные данные
# ==================================
# Файлы, содержащие секретные ключи или данные
# (Если вы используете отдельный файл для секретов)
local_settings.py
secrets.json
.env

# ==================================
# Медиа и статика
# ==================================
# Загруженные пользователем файлы
/media
# Собранные статические файлы
/staticfiles